<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>129655636371-s80mv36cmbc8ova0j1p463k30u6bvget.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129655636371-s80mv36cmbc8ova0j1p463k30u6bvget</string>
	<key>API_KEY</key>
	<string>AIzaSyBms3bY-sNgVhFkyVDG-kiWJLsQ-wT1Vj4</string>
	<key>GCM_SENDER_ID</key>
	<string>129655636371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mtmedia.USA-Tip-Calc</string>
	<key>PROJECT_ID</key>
	<string>usa-tip-calc</string>
	<key>STORAGE_BUCKET</key>
	<string>usa-tip-calc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129655636371:ios:769e590fd0cb4aff</string>
	<key>DATABASE_URL</key>
	<string>https://usa-tip-calc.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-8080686117362027~9960198772</string>
</dict>
</plist>